<!-- About -->
<section class="page-section" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase mb-5">What is this?</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="large text-muted">
          <p>
            With COVID-19 keeping November Project SF from meeting up in person,
            we wanted a way for the community to come together and challenge
            each other to get outside and move. One thing San Francisco has a
            lot of is hills. Beautiful hills and stairs with beautiful views and
            neighborhoods with character. Why not see them all?!
          </p>
          <p>
            Introducing the SF Hill Climb Challenge hosted by NPSF! A challenge
            to visit all the hills we love and normally visit for our Friday
            workouts but now you can do them all on your own. We'll even throw
            in some awesome new ones that we could never do with too many people
            but now you can experience all their glory!
          </p>
          <p>
            This challenge will start in Feburary and go through the end of
            March, Feb 1 - Mar 31. There will be four teams named after your
            four fearless leaders: Ali, Collin, Shardul, and Tony. You'll be
            randomly assigned to one of these teams when you submit your first
            hill and that will be your team for the entirety of the challenge.
          </p>
          <p>
            There will be prizes! When the challenge ends there will be prizes
            for the following categories:
          </p>
          <ul>
            <li>
              <strong>The Grand Slam:</strong> For anyone who completes all
              the hills. This is a tough one and we want to reward you.
            </li>
            <li>
              <strong>The Overachiever:</strong> This is for that special
              someone who has the most hill repeats of the whole competition.
            </li>
            <li>
              <strong>The Billy Goat:</strong> This is for that special
              someone who has the most vertical feet for the whole competion.
            </li>
            <li>
              <strong>The Local Bad Ass:</strong> Whoever has the most
              repetitions for a particular hill will be deemed the Local Bad Ass
              of that hill.
            </li>
            <li>
              <strong>The Winning Team:</strong> Whichever team wins will
              coordinate with their NPSF co-leader to pick a comedic penalty or
              activity that the losing NPSF co-leaders will have to do. In a
              previous competition, Laura and Paddy had to dance out "A Whole
              New World" in full Aladain and Jasmin garb.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End About -->
