<!doctype html>
<html lang="en">
  {% include head.html %}

  <body>
    {{ content }}

    {% include footer.html %}

    <!-- Bootstrap core JavaScript -->
    <script defer src="/assets/js/jquery.min.js"></script>
    <script defer src="/assets/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script defer src="/assets/js/jquery.easing.min.js"></script>

    <script defer src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <script defer src="/assets/js/hills.js"></script>

    <!-- Contact form JavaScript -->
    <script defer src="https://cdn.jsdelivr.net/npm/formdata-polyfill@3.0.20/formdata.min.js"></script>
    <script defer src="/assets/js/jqBootstrapValidation.js"></script>
    <script defer src="/assets/js/form_submit.js"></script>

    <script defer src="https://cdn.jsdelivr.net/npm/lodash@4.17.19/lodash.min.js"></script>
    <script defer src="/assets/js/leaderboard.js"></script>

    <!-- Custom scripts for this template -->
    <script defer src="/assets/js/agency.min.js"></script>
    <script defer src="https://www.google.com/recaptcha/api.js?render=6LfxHiYaAAAAANF3jXUmfC9M-SB7bhL0Mts7BQ_P"></script>

  </body>
</html>
