<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      {{ site.title }}
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#rules">Rules</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#hills">Hills</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#submit">Submit</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- End Navigation -->

<!-- Header -->
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">
        A Challenge hosted by November Project SF
      </div>
      <div class="intro-heading text-uppercase">
        Discover SF's best hills and stairs.
      </div>
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#about">Join in</a>
    </div>
  </div>
</header>
<!-- End Header -->
