<section class="page-section pt-0" id="rules">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-subheading text-uppercase mb-5">
          How it works
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="large text-muted">
          <p>
            All you have to do is climb hills and submit your hill climbs below! Simple
            right? Well here's some more detail in case you're curious:
          </p>
          <ul>
            <li>
              You can submit as many climbs as you want. Get out there!
            </li>
            <li>
              You can submit as many climbs of the same hill as you want. Total
              reps of that hill will be counted.
            </li>
            <li>
              Climb the hill anyway you want as long as it's body powered.
              Run, walk, bike (non-motor), roller blade, hop, hand stand, etc.
            </li>
            <li>
              All attempts of the hills have to be done between
              <strong>Feburary and March</strong>
            </li>
            <li>
              When you submit your first hill, you'll be assigned a team. The
              team assignments are simply rotating to give fairness. The Teams
              will be named after the four co-leaders of November Project
              SF.
            </li>
            <li>
              Many of the hills we have in parks have multiple ways up and down.
              You don't have to follow our GPS lines perfectly. Anyway up counts
              as a repetition.
            </li>
            <li>
              Share an activity link when you submit if you have one. We're
              probably not going to verify your hills. We trust you. Don't break
              that trust.
            </li>
            <li>
              Hit us up on Social Media to let us know what you think and how
              it's going! Use the hashtag #SFHillClimbChallenge and #NPSF.
              <a href="https://www.instagram.com/novemberprojectsf">Instagram: @novemberprojectsf</a>,
              <a href="https://www.facebook.com/NovemberProjectSF">Facebook: @NovemberProjectSF</a>,
              <a href="https://www.twitter.com/Nov_Project_SF"> Twitter: @Nov_Project_SF</a>.
            </li>
            <li>
              Carry a <strong>mask/buff</strong> with you at all times. It’s
              common courtesy to pull your mask up as you encounter people on
              your run. We’re all in this together. Let’s protect each
              other.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
