@charset "utf-8";
// Core variables and mixins
@import "base/variables.scss";
@import "base/mixins.scss";

// Custom colors
$primary: #fed136 !default;
$white: #fff !default;
$black: #000 !default;

// Custom Images
$header-image: "{{ site.data.style.header-image }}";
$contact-image: "{{ site.data.style.contact-image }}";

// Global CSS
@import "base/page.scss";

// Components
@import "components/buttons.scss";
@import "components/navbar.scss";
@import "components/embeds.scss";

// Layout
@import "layout/masthead.scss";
@import "layout/routes.scss";
@import "layout/contact.scss";
@import "layout/footer.scss";

.donation-links {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 70px;

  a {
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.post-body {
  margin: 40px auto;
  width: 1200px;
  max-width: 95%;
}

.grandslam-container {
  max-height: 660px;
  overflow-y: scroll;
}

#hill-map {
  height: 400px;
}
